<h2>Welcome to Web 101!</h2>

You're at the root path right now. Notice how the url is: <%= @hostname %> and nothing more?
<br>
Let's try getting a different path.
The path is whatever comes after <%= @hostname %> in the url.
Visit <a href="/this/is/a/path"> /this/is/a/path</a> to see the next step.
