<h2> Good job! </h2>

You made it to the path!
If you look at the url you'll notice that the whole thing is <a href=<%= @url %>> <%= @url %> </a>
<br>
<br>
The first part (<%= @protocol %>) is called the protocol. <br>
This is almost always going to be "http://" or "https://"
<br>
<br>
The next part (<%= @hostname %>) is called the host.<br>
Examples of hosts you've seen are "google.com", "facebook.com", or "twitter.com".
The host is what determines what website you want to visit.
<br>
<br>
The final part (/this/is/a/path) is called the path.<br>
The path tells the server what page you want to visit.
For example in the url <a href="https://github.com/natesholland"> https://github.com/natesholland </a>, <strong>"/natesholland"</strong> is what
tells the server that you want to visit my profile page.
<br>
<br>
Visit the paths <a href="/formats"> /formats </a> to view the next section
